body {
  background-color: rgb(36, 36, 36);
}

/* card */

.filmCard {
  border-radius: 10px;
  min-width: 228px;
  padding: 0;
  position: relative;
}

.filmInfo {
  background-color: rgb(36, 36, 36);
  padding: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0;
  height: 0px;
  position: absolute;
  top: 100%;
  width: 100%;
}

.filmInfo ion-icon {
  color: white;
  padding: 10px;
  border: 2px solid rgb(161, 161, 161);
  border-radius: 50%;
}

#play {
  color: black;
  background-color: white;
}

.filmDescription p {
  color: rgb(161, 161, 161);
}

.genre {
  color: white;
}

/* card hover */

@keyframes cardHover {
  to {
    transform: scale(1.2);
    -webkit-box-shadow: 2px 2px 15px 5px #101010;
    box-shadow: 2px 2px 15px 5px #101010;
    z-index: 2;
  }
}

@keyframes cardImgHover {
  to {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}

@keyframes filmInfoHover {
  to {
    padding: 10px;
    height: unset;
    opacity: 1;
    -webkit-box-shadow: 2px 2px 15px 5px #101010;
    box-shadow: 2px 2px 15px 5px #101010;
  }
}

.filmCard:hover img {
  animation: cardImgHover 0.3s forwards;
}

.filmCard:hover .filmInfo {
  animation: filmInfoHover 0.3s forwards;
}

.filmCard:hover {
  animation: cardHover 0.3s forwards;
}

/* navbar */

.navbar {
  width: 92%;
  margin: auto;
  z-index: 1000;
  background-color: transparent !important;
}

.container-fluid {
  --bs-gutter-x: unset;
}

#netflixLogo {
  width: 100px;
}

.nav-link {
  --bs-nav-link-color: white;
  --bs-nav-link-hover-color: rgb(161, 161, 161);
  --bs-navbar-active-color: rgb(161, 161, 161);
  cursor: pointer;
}

.sideNav ion-icon {
  color: white;
  font-size: 18px;
}

.sideNav p {
  color: white;
  font-size: 12px;
}

#navbarNav {
  justify-content: space-between;
}

#toggleMenu {
  color: white;
}

/* jumbotron */

h1 {
  color: white;
}

.jumbotron {
  width: 91%;
  margin: 80px auto;
  flex-wrap: wrap;
}

.jumboMain {
  flex-wrap: wrap;
}

.jumboSide {
  padding: 3px;
}

.jumboSide ion-icon {
  color: white;
  font-size: 20px;
}

.jumboSide ion-icon:first-of-type {
  transform: rotate(90deg);
  padding-inline: 5px;
  padding-block: 8px;
  border: 1px solid white;
}

.jumboSide ion-icon:nth-of-type(2) {
  padding-right: 8px;
  padding-left: 10px;
  padding-block: 5px;
  border-right: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.jumboMain .btn {
  --bs-btn-bg: black;
  border-radius: unset;
  --bs-btn-active-bg: rgb(161, 161, 161);
  --bs-btn-active-color: rgb(36, 36, 36);
}

.jumboMain .dropdown-menu {
  --bs-dropdown-bg: black;
}

.jumboMain .dropdown-menu .dropdown-item {
  color: white;
}

.jumboMain .dropdown-item:hover,
.jumboMain .dropdown-item:active {
  color: black;
  background-color: rgb(161, 161, 161);
}

/* carousel */

#carousel3 {
  margin-bottom: 6rem !important;
}

h3 {
  color: white;
  width: 90%;
  margin: auto;
  padding-bottom: 10px;
  font-size: 24px;
}

.carousel-inner {
  width: 90%;
  margin: auto;
  overflow: visible;
}

.carousel-control-prev,
.carousel-control-next {
  width: 60px;
}

.row {
  justify-content: center;
}

/* search */

.mainSearch {
  width: 90%;
  margin: auto;
  padding-block: 70px;
}

.mainSearch h3 {
  text-align: center;
}

/* footer */

footer {
  width: 55%;
  margin: auto;
  padding-block: 20px;
}

.footerIcons ion-icon {
  color: rgb(161, 161, 161);
  font-size: 26px;
}

.footerIcons ion-icon:hover {
  color: white;
  cursor: pointer;
}

.footerLinks {
  width: 100%;
}

.footerLinks a {
  text-decoration: none;
  color: rgb(161, 161, 161);
  font-size: 14px;
}

.footerLinks a:hover {
  color: white;
}

.linkCol {
  margin-inline: 0 auto;
}

.serviceCode {
  color: rgb(161, 161, 161);
  border: 2px solid rgb(161, 161, 161);
  padding: 5px;
}

.serviceCode:hover {
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

.tradeMark {
  color: rgb(161, 161, 161);
  font-size: 14px;
}

/* media query responsive*/

@media screen and (max-width: 1510px) {
  .carousel-item .filmCard:nth-child(6) {
    display: none !important;
  }
}

@media screen and (max-width: 1256px) {
  .carousel-item .filmCard:nth-child(5) {
    display: none !important;
  }

  .linkCol {
    margin: unset;
  }
}

@media screen and (max-width: 1003px) {
  .carousel-item .filmCard:nth-child(4) {
    display: none !important;
  }
}

@media screen and (max-width: 750px) {
  .carousel-item .filmCard:nth-child(3) {
    display: none !important;
  }
}

@media screen and (max-width: 496px) {
  .carousel-item .filmCard:nth-child(2) {
    display: none !important;
  }

  .jumboMain {
    gap: 1rem !important;
    margin-right: 1rem;
  }
}

/* js class */

.visibilityHidden {
  visibility: hidden;
}

.visibilityVisible {
  visibility: visible;
}

.changeBackground {
  background-color: black !important;
}

.navBackground {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    180deg,
    rgba(0, 0, 0) 0%,
    rgba(36, 36, 36) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(0, 0, 0) 0%,
    rgba(36, 36, 36) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0) 0%,
    rgba(36, 36, 36) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#363636",GradientType=1);
}
